@tailwind base;
@tailwind components;
@tailwind utilities;




.togle-box {
    padding: 0.7rem 1.7rem;
    border-radius: 100px;
}

.togle-box.active {
    border-width: 1px;
    border-color: rgb(255 255 255 / 0.4);
}

.togle-box:hover {
    background-color: rgb(255 255 255 / 0.1);
}

/* Hide horizontal scrollbar for the mobile date pills */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

/* Completely hide scrollbar while keeping scroll functionality */
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

/* For Firefox - completely hide scrollbar */
* {
    scrollbar-width: none;
}

/* For IE and Edge */
* {
    -ms-overflow-style: none;
}