@tailwind base;
@tailwind components;
@tailwind utilities;




.togle-box {
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-color: rgb(255 255 255 / 0.4);
    border-radius: 100px;
}

.togle-box:hover {
    background-color: rgb(255 255 255 / 0.1);
}

/* Hide horizontal scrollbar for the mobile date pills */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}